{
  "presets": [["@babel/preset-env"], "@babel/preset-react"],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/transform-runtime",
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/icons",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      }
    ]
  ]
}
